/* 
ALL CODE IS PURLEY ORIGINAL.

YOU MAY NOT COPY, MODIFY, MERGE, PUBLISH, DISTIBUTE, SUBLICENCE, AND/OR SELL THE CODE. 

This web app is a product of

███████╗██████╗ ██╗ ██████╗ ██████╗ ██████╗ ███████╗
██╔════╝██╔══██╗██║██╔════╝██╔═══██╗██╔══██╗██╔════╝
█████╗  ██████╔╝██║██║     ██║   ██║██║  ██║█████╗  
██╔══╝  ██╔═══╝ ██║██║     ██║   ██║██║  ██║██╔══╝  
███████╗██║     ██║╚██████╗╚██████╔╝██████╔╝███████╗
╚══════╝╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝

All rights reserved.   
*/

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Goldman&family=Josefin+Sans&family=Paytone+One&family=Poppins&family=Radio+Canada&family=Righteous&family=Baumans&family=Kdam+Thmor+Pro&family=Montserrat:wght@500&family=Rubik&family=Poppins&display=swap");

/*
font-family: 'Archivo Black', sans-serif;
font-family: 'Fredoka One', sans-serif;
font-family: 'Goldman', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Radio Canada', sans-serif;
font-family: 'Righteous', sans-serif;
font-family: 'Baumans', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Poppins', sans-serif;
*/


#loadingScreen {
  background: var(--main-window-background-color);
  color: var(--main-text-color);
  display: none;
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 20;
  left: 1rem;
  padding: 1rem;
  border-radius: 2vh;
}
#loader {
  border: 2vh solid var(--main-header-color);
  border-radius: 50%;
  border-top: 2vh solid var(--main-window-background-color);
  width: 16vh;
  height: 16vh;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}